[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.text-center {
	text-align: center;
}

.text-italic {
	font-style: italic;
}

.song-num {
	font-size: 24pt;
}

.first-letter p::first-letter { 
	float: left;
	font-size: 200%;
	line-height: 90%;
	padding-right: 8px;
	padding-left: 2px;
}
.first-line p::first-line { 
    font-weight: 700;
}

.home-card {
	  width: 100%;
	} 
@media screen and (min-width: 1280px) {
	.home-card {
	  max-width: 800px;
	} 
}
@media screen and (min-width: 650px) and (max-width: 1279px) {
	.home-card {
	  max-width: 600px;
	} 
}
@media screen and (max-width: 649px) {
	.home-card {
	  max-width: 300px;
	} 
}