[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.text-center {
	text-align: center;
}

.text-italic {
	font-style: italic;
}

.song-num {
	font-size: 24pt;
}



@media screen and (min-width: 600px) {

    .home-card {
		width: 600px;
	}

}