
<md-toolbar>
	<md-content class="md-padding" layout>

			<md-input-container flex ng-click="nav.go('/')">
				<label>Paieška pagal giesmės numerį</label>
				<input type="number" min="0" max="300" ng-model="$root.searchQuery.songId">
			</md-input-container> 

	</md-content>
</md-toolbar>

<!--
<md-toolbar>
	<md-content class="md-padding">
		<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
			<md-nav-item md-nav-href="/" name="Pagrindinis">Pagrindinis</md-nav-item>
			<md-nav-item md-nav-href="/about" name="Apie">Apie</md-nav-item>

		</md-nav-bar>    
	</md-content>

</md-toolbar>-->