<section layout="row" flex>

  <md-sidenav
      class="md-sidenav-left"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-md')"
      md-whiteframe="4">

      <md-toolbar>
        <md-content class="md-padding">
          <h1 class="md-toolbar-tools">Navigacija</h1>

          <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="/" name="Pagrindinis">Pagrindinis</md-nav-item>
            <md-nav-item md-nav-href="/about" name="Apie">Apie</md-nav-item>
          </md-nav-bar>    
        </md-content>
      </md-toolbar>

  </md-sidenav>
    

</section>

<!--
<md-toolbar>
  <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-href="/" name="Pagrindinis">Pagrindinis</md-nav-item>
      <md-nav-item md-nav-href="/about" name="Apie">Apie</md-nav-item>

    </md-nav-bar>    
  </md-content>

</md-toolbar>-->