<div layout="row" layout-align="center center" layout-padding>

	<md-card flex flex-xs flex-gt-xs=none class="home-card">
		<md-card-actions layout="row" layout-align="space-around center">
        	<md-button class="md-primary" ng-click="song.textDw()" ng-show="song.body">Aa -</md-button>
	    	<span class="song-num">{{song.song.songId}}</span>
        	<md-button class="md-primary" ng-click="song.textUp()" ng-show="song.body">Aa +</md-button>        	
		</md-card-actions>
		<md-card-content class="first-letter first-line" ng-show="song.body">
			<p ng-bind-html="song.body" style="font-size: {{song.fontSize}}px;"></p>
			<hr>
			<small ng-bind-html="song.copyright" class="text-italic"></small>
		</md-card-content>
		<md-card-actions layout="row" layout-align="end center" ng-show="song.body">
			<md-button class="md-accent" ng-href="/">ATGAL</md-button>
		</md-card-actions>
	</md-card>

</div>